// laptop view
.Price {
  width: 56vw;
  height: 80svh;
  box-shadow: 0 1vw 2vw rgba(113, 155, 177, 0.5);
  border: 0.11vw solid #000;
  background-color: #fff;
  padding: 1.2vw;
  border-radius: 0.5vw;
  align-items: flex-start;
  gap: 2vw;
}

// tablet view
@media all and (max-width: 1024px) {
  .Price {
    width: 80%;
    height: auto;
    padding: 1.5vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}

// mobile view
@media all and (max-width: 480px) {
  .Price {
    width: 100%;
    box-shadow: none;
    border: none;
    padding: 1vw;
    border-radius: none;
    gap: 4vw;
  }
}
