// laptop view
.EventAuth {
  height: 100svh;
  gap: 5svh;
  .title {
    font-size: 5svh;
  }
  .form {
    width: 50svh;
    gap: 2svh;
    .input {
      width: 100%;
      border: 3px solid purple;
      padding: 2svh;
      font-size: 2svh;
      border-radius: 8px;
    }
    .submitBtn {
      margin-top: 2svh;
      width: 100%;
      padding: 2svh;
      font-size: 2svh;
      border-radius: 8px;
      background-color: purple;
      color: #fff;
      font-weight: 600;
    }
  }
}

// laptop view
@media all and (max-width: 480px) {
  .EventAuth {
    height: 100svh;
    gap: 5svh;
    .title {
      font-size: 5svh;
    }
    .form {
      width: 50svh;
      gap: 2svh;
      .input {
        width: 100%;
        border: 3px solid purple;
        padding: 2svh;
        font-size: 2svh;
        border-radius: 8px;
      }
      .submitBtn {
        margin-top: 2svh;
        width: 100%;
        padding: 2svh;
        font-size: 2svh;
        border-radius: 8px;
        background-color: purple;
        color: #fff;
        font-weight: 600;
      }
    }
  }
}
