/* button  */
.startButton {
    position: relative;
    padding: 8px 30px;
    background: #ffce39;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #ffce39;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all .3s ease-in-out;
    text-decoration: none;
}

.frontBody .startButton {
    margin-left: 20px;
}

.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #ffce39);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #ffce39);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #ffce39);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #ffce39);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #ffce39);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #ffce39);
    z-index: -5;
    transition: all .8s ease;
}

.startButton:hover {
    background: transparent;
    color: #FEC195;
    box-shadow: 0 0 25px #fec1958c;
}

.startButton:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #ffce39);
    z-index: 2;
}

.startButton:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #ffce39);
    z-index: 2;
}

.startButton:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #ffce39);
    z-index: 2;
}

.startButton:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #ffce39);
    z-index: 2;
}

.startButton:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #ffce39);
    z-index: 2;
}

.startButton:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #ffce39);
    z-index: 2;
}

.fil0 {
    fill: #ffce39
}


/* button 2 */
.button2 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    padding: 15px 20px;
    line-height: 1;
    overflow: hidden;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    font-weight: bold;
}

.button2:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button2:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    background: #fafafa;
}

.button2:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

@media (max-width:967px) {
    .button2 {
        font-size: 16px;
    }
}


/* 3 */
.buttonSwap {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.7em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 700;
    color: black;
    letter-spacing: 1px;
    background-color: white;
}

.buttonSwap span {
    color: #000;
}

.buttonSwap:hover {
    transform: translateY(-3px);
    color: #FEC195;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.buttonSwap:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.buttonSwap::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.buttonSwap::after {
    background-color: #fff;
}

.buttonSwap:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* //// */
.case-studie-btn {
    /* opacity: 0; */
    transition: all 0.2s linear;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    // margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}

.button::before,
.button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    // border: 1px solid #7D8082;
    transition: all .15s ease;
}

.button::before {
    top: 0;
    border-bottom-width: 0;
}

.button::after {
    bottom: 0;
    border-top-width: 0;
}

.button:active,
.button:focus {
    outline: none;
}

.button:active::before,
.button:active::after {
    right: 3px;
    left: 3px;
}

.button:active::before {
    top: 3px;
}

.button:active::after {
    bottom: 3px;
}

.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #000;
    background-color: #ffce39;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button:hover .button_lg {
    color: #fff;
}

.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #0f1923;
    transform: skew(-15deg);
    transition: all .2s ease;
}

.button_text {
    position: relative;
}

.button:hover {
    color: #0f1923;
}

.button:hover .button_sl {
    width: calc(100% + 15px);
}

.button:hover .button_lg::after {
    background-color: #000;
}

#bottone1 {
    padding: 10px 33px;
    border-radius: 9px;
    background: #fdb714;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    color: #0f1923;
}

#bottone1:hover {
    box-shadow: 7px 5px 56px -14px #fdb714;
}

#bottone1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #fdb714;
}



/* scroll btn  */

.scroll-btn {
    cursor: pointer;
    font-family: Helvetica, "sans-serif";
    transition: all .2s;
    padding: 10px 30px;
    border-radius: 100px;
    color: #fff;
    background: linear-gradient(45deg, #ffac00, #e35a00);
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.scroll-btn:hover {
    background: linear-gradient(45deg, #ffac00, #e35a00);
    color: #fafafa !important;
}

.scroll-btn>svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}

.scroll-btn:hover svg {
    transform: translateX(5px);
    color: #fafafa;
}

.scroll-btn:active {
    transform: scale(0.95);
}


// expo btn AI 
.expBtn {

    .button {
        // line-height: 1;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: .75rem;
        // background-color: var(--clr);
        color: #fff;
        font-size: 20px;
        border-radius: 10rem;
        font-weight: 600;
        padding: .75rem 1.5rem;
        padding-left: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: background-color .3s;
    }

    .button__icon-wrapper {
        flex-shrink: 0;
        width: 25px;
        height: 25px;
        position: relative;
        color: var(--clr);
        background-color: #fff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        overflow: hidden;
    }

    .button:hover {
        background-color: #000;
    }

    .button:hover .button__icon-wrapper {
        color: #000;
    }

    .button__icon-svg--copy {
        position: absolute;
        transform: translate(-150%, 150%);
    }

    .button:hover .button__icon-svg:first-child {
        transition: transform .3s ease-in-out;
        transform: translate(150%, -150%);
    }

    .button:hover .button__icon-svg--copy {
        transition: transform .3s ease-in-out .1s;
        transform: translate(0);
    }
}