.EventNew {
  // border: 2px solid red;
  margin-top: 1vw;
  .heading {
    // border: 2px solid black;
    padding: 1vw;
    // margin-top: 2vw;
    font-size: 2.8vw;

    font-weight: 600;
    background: linear-gradient(to right, #fad43a, #b3a70b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .formContainer {
    width: 100%;
    height: 100%;
    gap: 1.2vw;
    padding: 4vw;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    // gap: 1.5rem;
    width: 100%;
    height: 100%;
    max-width: 50vw;
    // padding: 1.5rem;
    margin-bottom: 8vw;
    // border: 1px solid #611414;
    border-radius: 1vw;
  }
  .valueField {
    // border: 1px solid #f82424;
    // margin-bottom: 1.5rem;
    width: 100%;
    font-size: 1vw;
    // gap: 5vw;
    justify-content: flex-start;
    align-items: flex-start;

    .labelling {
      font-size: 1.2rem;
      font-weight: 600;
      color: #343232;
      width: 100%;

      // border: 1px solid #369124;
      .optionClass {
        padding: 0.5rem;
        font-size: 1rem;
        color: #333; // Text color
        background-color: #f9f9f9;

        &:hover {
          background-color: #ff93df;
          color: #fff;
        }

        &:focus {
          background-color: #ff93df;
          color: #fff;
        }
      }
      .inputCon {
        width: 100%;
        padding: 0.8rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        margin-top: 0.7vw;
        color: #333;
        transition: border 0.3s;
        // &:focus {
        //   border-color: linear-gradient(to right, #ff93df, #7a21bb);
        //   outline: none;
        //   box-shadow: 0 0 0.2vw #ff93df;
        // }
      }

      select {
        cursor: pointer;
      }
    }
  }
  .templateField {
    // border: 2px solid blue;
    width: 100%;
    // justify-content: flex-start;
    // align-items: flex-start;
    .templateBtn {
      // border: 1px solid green;
      font-size: 1.3rem;
      padding: 0.4vw 0.6vw;
      font-weight: 500;
      width: 100%;
      color: black;
      // background: #bc3dfb;
      border-radius: 1vw 0 1vw 0;
      animation: blink 1s linear infinite;
      // color: #555;
    }
    .successText {
      color: green;
      font-size: 0.9rem;
      margin-top: 0.5rem;
    }
    .errorText {
      color: rgb(239, 66, 66);
      font-size: 1rem;
      margin-top: 0.7vw;
    }
    @keyframes blink {
      0%,
      100% {
        background-color: #f6ce4c;
      }
      50% {
        background-color: #f2a93c;
      }
    }
  }
  // .shareOption {
  //   border: 1px solid red;
  //   width: 100%;
  //   .shareHead {
  //     border: 1px solid red;
  //     font-size: 1rem;
  //     font-weight: 500;
  //     color: #555;
  //     margin-bottom: 0.5rem;
  //   }
  //   .options {
  //     gap: 1vw;
  //     border: 1px solid red;
  //     .textContainer {
  //       border: 3px solid blue;
  //     }
  //   }
  // }
  .shareOption {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 1vw;

    .shareHead {
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 1.2rem;
      font-weight: 600;
      color: #343232;
      width: 100%;
    }

    .options {
      gap: 2vw;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .checkboxLabel {
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      gap: 0.7vw;
    }

    .checkboxInput {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      border: 2px solid #f6ce4c;
      border-radius: 1vw;
      width: 1.6vw;
      height: 1.6vw;

      cursor: pointer;
      position: relative;
      transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .checkboxInput:checked::before {
      content: "✔";
      font-size: 1.1rem;
      color: black;
      position: absolute;
      top: -3%;
      left: 0.2vw;
      font-weight: 800;
    }

    .checkboxText {
      font-size: 1.1rem;
      display: inline-block;
    }
  }

  .logoUploader {
    width: 100%;
    // border: 2px solid green;
    gap: 0.7vw;
    justify-content: flex-start;
    align-items: flex-start;
    .logoUploadLabel {
      width: 100%;
      // gap: 0.7vw;
      justify-content: flex-start;
      // border: 2px solid blue;
      align-items: flex-start;
      .uploadText {
        // border: 2px solid blue;
        font-size: 1.2rem;
        font-weight: 600;
        color: #343232;
      }
      .logoContainer {
        border: 2px dashed #ccc;
        // border: 2px solid blue;
        border-radius: 0.8vw;
        padding: 1vw;
        width: 100%;
        height: auto;
        text-align: center;
        cursor: pointer;
        position: relative;
        transition: border-color 0.3s;
        .logoContainer {
          .spinLoader {
            width: 2vw;
            height: 2vw;
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-top: 4px solid gray;
            border-radius: 50%;
            animation: spin 1s linear infinite;
          }

          @keyframes spin {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
        .uploadedImage {
          width: 8vw;
          height: 6vw;
          // border: 2px solid blue;

          object-fit: contain;
          border-radius: 0.5vw;
        }
        .orText {
          // padding: 0.5vw;
          // border: 1px solid red;
        }
        // .addNewFace {
        //   border: 0.23vh solid #b8b5b5;
        //   background-color: #fbf6f6;
        //   width: 10vh;
        //   padding: 0.3vh;
        //   height: 100%;
        //   border-radius: 0.5vh;
        //   /* border: 1px solid red; */

        .imgPlusIcon {
          // border: 1px solid red;
          // font-size: 4vh;
          width: 1.5vw;
          height: 1.5vw;
          cursor: pointer;
          position: absolute;
          //  color:#3d8fc2;
          top: 2%;
          // padding: 2vw;
          right: 1%;
          // color: #3c3b3b;
        }

        // &:hover {
        //   border-color: #d77df5;
        // }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .fileInputLabel {
        // margin-top: 10px;
        text-align: center;
        cursor: pointer;
        color: rgb(49, 49, 232);
        font-weight: bold;
        text-decoration: underline;
        // border: 2px solid blue;

        &:hover {
          color: rgb(127, 127, 244);
        }
      }

      input[type="file"] {
        display: none;
      }
    }
  }
  .imageContainer {
    margin: 0.5rem 0;
    // gap: 1vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .bg-head {
      // border: 2px solid blue;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 600;
      color: #343232;
      // margin-bottom: 1rem;
      text-align: left;
    }

    .bgImgContainer {
      // border: 2px solid blue;
      display: flex;
      flex-wrap: wrap;
      gap: 2vw;
      width: 100%;
      justify-content: flex-start;

      .bgImg {
        width: 8vw;
        height: 10vw;
        border: 2px solid transparent;
        border-radius: 0.5vw;
        cursor: pointer;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease,
          border-color 0.3s ease;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        &.selected {
          // border-color: #f5f2d7;
          border: 1px solid rgb(167, 167, 232);
          background-color: rgba(0, 123, 255, 0.1);
          transform: scale(1.1);
          box-shadow: 0 6px 12px rgba(131, 129, 124, 0.3);
        }
      }

      .imageCon {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.4vw;
      }
    }
  }

  .submitContainers {
    // padding-top: 2vw;
    .submitBtn {
      // margin-right: 1vw;
      border-radius: 0.8vw;
      background: #f6ce4c;
      // border: 1.5px solid black;
      color: black;
      // width: 10%;
      font-size: 1.3vw;
      font-weight: 600;
      padding: 0.3vw 1.5vw;
    }
    .submitBtn:hover {
      background: #dcb32c;
    }
  }
}

@media all and (max-width: 1024px) {
  .EventNew {
    // border: 2px solid red;
    // margin-top: 2vw;
    .heading {
      // border: 2px solid black;
      padding: 2vw;
      // margin-top: 2vw;
      font-size: 6vw;
    }

    .formContainer {
      width: 100%;
      height: 100%;
      gap: 2.2vw;
      padding: 4vw;

      // gap: 1.5rem;
      width: 100%;
      height: 100%;
      max-width: 90vw;
      // padding: 1.5rem;
      margin-bottom: 15vw;
      // border: 1px solid #611414;
      border-radius: 1vw;
    }
    .valueField {
      // border: 1px solid #f82424;
      // margin-bottom: 1.5rem;
      width: 100%;
      .labelling {
        font-size: 1.6rem;
        font-weight: 500;
        color: #555;
        width: 100%;

        // border: 1px solid #369124;
        .optionClass {
          padding: 0.5rem;
          font-size: 1.6rem;
          color: #333; // Text color
          background-color: #f9f9f9;

          &:hover {
            background-color: #ff93df;
            color: #fff;
          }

          &:focus {
            background-color: #ff93df;
            color: #fff;
          }
        }
        .inputCon {
          width: 100%;
          padding: 0.8rem;
          border: 1px solid #ccc;
          border-radius: 0.6vw;
          font-size: 1.5rem;
          margin-top: 1vw;
        }

        select {
          cursor: pointer;
        }
      }
    }
    .templateField {
      // border: 2px solid blue;
      width: 100%;
      // justify-content: flex-start;
      // align-items: flex-start;
      .templateBtn {
        // border: 1px solid green;
        font-size: 1.7rem;
        padding: 1.2vw 1vw;
        font-weight: 500;
        width: 100%;
        color: black;
        // background: #bc3dfb;
        border-radius: 2vw 0 2vw 0;
        animation: blink 1s linear infinite;
        // color: #555;
      }
      .successText {
        color: green;
        font-size: 1rem;
        margin-top: 0.5rem;
      }
      .errorText {
        color: rgb(239, 66, 66);
        font-size: 1.1rem;
        margin-top: 0.7vw;
      }
      @keyframes blink {
        0%,
        100% {
          background-color: #f6ce4c;
        }
        50% {
          background-color: #f2a93c;
        }
      }
    }
    .shareOption {
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      gap: 2vw;
      padding-bottom: 2vw;

      .shareHead {
        font-size: 1.6rem;
        justify-content: flex-start;
        align-items: flex-start;
        font-weight: 500;
        color: #555;
        width: 100%;
      }

      .options {
        gap: 4vw;
        justify-content: flex-start;
        align-items: flex-start;
      }

      .checkboxLabel {
        font-size: 1.6rem;
        gap: 2vw;
      }

      .checkboxInput {
        border: 2px solid #f6ce4c;
        border-radius: 2.4vw;
        width: 3.5vw;
        height: 3.5vw;
        cursor: pointer;
        position: relative;
        transition: background-color 0.3s ease, border-color 0.3s ease;
      }

      .checkboxInput:checked::before {
        content: "✔";
        font-size: 1.6rem;
        color: black;
        position: absolute;
        top: 0.1vw;
        left: 0.4vw !important;
        font-weight: 900;
      }

      .checkboxText {
        font-size: 1.6rem;
        display: inline-block;
      }
    }

    .logoUploader {
      // border: 2px solid green;
      width: 100%;
      gap: 1vw;
      justify-content: flex-start;
      align-items: flex-start;
      .logoUploadLabel {
        .uploadText {
          // border: 2px solid blue;
          // padding: 1vw;
          font-size: 1.6rem;
          font-weight: 500;
          color: #555;
        }
        .logoContainer {
          border: 2px dashed #ccc;
          border-radius: 0.8vw;
          padding: 1.5vw;
          width: 100%;
          height: auto;
          text-align: center;
          cursor: pointer;
          transition: border-color 0.3s;

          .uploadedImage {
            // border: 2px solid blue;
            width: 18vw;
            height: 15vw;
            object-fit: contain;
            border-radius: 0.5vw;
          }
          .orText {
            // padding: 1vw;
            font-size: 2.15vw;
          }
          .imgPlusIcon {
            // border: 1px solid red;
            // font-size: 4vh;
            width: 3.5vw;
            height: 3.5vw;
            cursor: pointer;
            position: absolute;
            //  color:#3d8fc2;
            top: 2%;
            // padding: 2vw;
            right: 1%;
            // color: #3c3b3b;
          }
          // &:hover {
          //   border-color: #d77df5;
          // }

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }

        .fileInputLabel {
          // border: 2px solid green;
          // padding-top: 1.6vw;
          text-align: center;
          cursor: pointer;
          font-size: 2.2vw;
          font-weight: bold;
          color: #bc3dfb;

          &:hover {
            color: #d311d3;
          }
        }

        input[type="file"] {
          display: none;
        }
      }
    }

    .imageContainer {
      margin: 1.5rem 0;
      gap: 1vw;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .bg-head {
        width: 100%;
        font-size: 1.6rem;
        font-weight: 500;
        color: #555;
        margin-bottom: 1rem;
        text-align: left;
      }

      .bgImgContainer {
        gap: 3vw;
        width: 100%;

        .bgImg {
          width: 15vw;
          height: 20vw;
          border: 2px solid transparent;
          border-radius: 2vw;
          cursor: pointer;
          overflow: hidden;
          transition: transform 0.3s ease, box-shadow 0.3s ease,
            border-color 0.3s ease;
        }

        .imageCon {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 1.6vw !important;
        }
      }
    }

    .submitContainers {
      padding-top: 2vw;
      .submitBtn {
        border-radius: 1.5vw;
        background: #f6ce4c;
        border: 1.5px solid black;
        color: black;
        font-size: 3vw !important;
        padding: 1vw 3vw;
      }
    }
  }
}
@media all and (max-width: 480px) {
  .EventNew {
    // border: 2px solid red;
    .heading {
      // border: 2px solid black;
      padding: 2vw;
      margin-top: 2vw;
      font-size: 7vw;
    }

    .formContainer {
      width: 100%;
      height: 100%;
      gap: 2.2vw;
      padding: 4vw;

      // gap: 1.5rem;
      width: 100%;
      height: 100%;
      max-width: 90vw;
      // padding: 1.5rem;
      margin-bottom: 15vw;
      // border: 1px solid #611414;
      border-radius: 1vw;
    }
    .valueField {
      // border: 1px solid #f82424;
      // margin-bottom: 1.5rem;
      width: 100%;
      font-size: 1vw;
      // gap: 5vw;
      justify-content: flex-start;
      align-items: flex-start;

      .labelling {
        font-size: 1.2rem !important;
        font-weight: 600 !important;
        color: #343232 !important;
        width: 100%;

        // border: 1px solid #369124;
        .optionClass {
          padding: 0.6rem;
          // border: 1px solid #369124;
          font-size: 1rem;
          color: #333; // Text color
          background-color: #f9f9f9;
        }
        .inputCon {
          width: 100%;
          padding: 1rem;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 1rem;
          margin-top: 0.7vw;
          color: #333;
          transition: border 0.3s;
        }

        select {
          cursor: pointer;
        }
      }
    }
    .templateField {
      // border: 2px solid blue;
      width: 100%;
      // justify-content: flex-start;
      // align-items: flex-start;
      .templateBtn {
        // border: 1px solid green;
        font-size: 1.35rem;
        padding: 1.2vw 1vw;
        font-weight: 500;
        width: 100%;
        color: black;
        // background: #bc3dfb;
        border-radius: 2vw 0 2vw 0;
        animation: blink 1s linear infinite;
        // color: #555;
      }
      .successText {
        color: green;
        font-size: 1rem;
        margin-top: 0.5rem;
      }
      .errorText {
        color: rgb(239, 66, 66);
        font-size: 1rem;
        margin-top: 0.7vw;
      }
      @keyframes blink {
        0%,
        100% {
          background-color: #f6ce4c;
        }
        50% {
          background-color: #f2a93c;
        }
      }
    }
    .shareOption {
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      gap: 2vw;
      padding-bottom: 2vw;

      .shareHead {
        font-size: 1.2rem;
        justify-content: flex-start;
        align-items: flex-start;
        font-weight: 600 !important;
        color: #343232 !important;
        width: 100%;
      }

      .options {
        gap: 4vw;
        justify-content: flex-start;
        align-items: flex-start;
      }

      .checkboxLabel {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        gap: 2vw;
      }

      .checkboxInput {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 2px solid #f6ce4c;
        border-radius: 2.4vw;
        width: 5.2vw;
        // padding: 0.2vw;
        height: 5.2vw;
        cursor: pointer;
        position: relative;
        transition: background-color 0.3s ease, border-color 0.3s ease;
      }

      .checkboxInput:checked::before {
        content: "✔";
        font-size: 1.2rem;
        color: black;
        position: absolute;
        top: -4% !important;
        left: 0.4vw !important;
        font-weight: 800;
      }

      .checkboxText {
        font-size: 1.1rem;
        display: inline-block;
      }
    }

    .logoUploader {
      // border: 2px solid green;
      width: 100%;
      gap: 0.5vw;
      justify-content: flex-start;
      align-items: flex-start;
      .logoUploadLabel {
        .uploadText {
          // border: 2px solid blue;
          padding: 0.6vw;
          font-size: 1.2rem !important;
          font-weight: 600 !important;
          color: #343232 !important;
        }
        .logoContainer {
          border: 2px dashed #ccc;
          // border: 2px solid blue;
          border-radius: 0.8vw;
          padding: 2vw;
          width: 100%;
          height: auto;
          text-align: center;
          cursor: pointer;
          position: relative;
          transition: border-color 0.3s;
          .uploadedImage {
            // border: 2px solid blue;
            width: 20vw;
            height: 17vw;
          }
          .orText {
            // padding: 1vw;
            font-size: 3.4vw;
          }
          .imgPlusIcon {
            // border: 1px solid red;
            // font-size: 4vh;
            width: 4.3vw;
            height: 4.3vw;
            cursor: pointer;
            position: absolute;
            //  color:#3d8fc2;
            top: 2%;
            // padding: 2vw;
            right: 1%;
            // color: #3c3b3b;
          }
          // &:hover {
          //   border-color: #d77df5;
          // }

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }

        .fileInputLabel {
          // margin-top: 10px;
          text-align: center;
          cursor: pointer;
          font-size: 1.1rem;
          color: #bc3dfb;
          font-weight: bold;
          text-decoration: underline;

          &:hover {
            color: #d311d3;
          }
        }

        input[type="file"] {
          display: none;
        }
      }
    }

    .imageContainer {
      margin: 1.5rem 0;
      gap: 1vw;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .bg-head {
        width: 100%;
        font-size: 1.2rem !important;
        font-weight: 600 !important;
        color: #343232 !important;
        margin-bottom: 1rem;
        text-align: left;
      }

      .bgImgContainer {
        gap: 3vw;
        width: 100%;

        .bgImg {
          width: 15vw;
          height: 20vw;
          border: 2px solid transparent;
          border-radius: 2vw;
          cursor: pointer;
          overflow: hidden;
          transition: transform 0.3s ease, box-shadow 0.3s ease,
            border-color 0.3s ease;
        }

        .imageCon {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 1.6vw !important;
        }
      }
    }

    .submitContainers {
      padding-top: 2vw;
      .submitBtn {
        border-radius: 2vw;
        background: #f6ce4c;
        border: 1.5px solid black;
        color: black;
        font-size: 3.5vw !important;
        padding: 1.5vw 4vw;
      }
    }
  }
}
