.modal-overlay-responsive {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 20vw;
    padding-bottom: 20vw;
    background-color: rgba(0, 0, 0, 0.5);
    // align-items: flex-start !important;
    //   border: 2px solid blue;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 1.5vw;
    gap: 1vw;
    border-radius: 0.5vw;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 40vw;
    width: 90%;
    // text-align: center;
    // justify-content: flex-start;
    // align-items: flex-start;
    position: relative;
    //   border: 2px solid blue;
    .eventPre {
      font-size: 2.2vw;
      text-align: center;
    }
    .detailCon {
      // border: 2px solid blue;
      justify-content: flex-start;
      gap: 1vw;
      padding: 1vw;
      align-items: flex-start;
      .modalHead {
        font-size: 1.2vw;
        text-align: center;
      }
    }
    .close-preview {
      // border: 2px solid rgb(185, 156, 61);
      background-color: #ff3300;
      color: white;
      border: none;
      border-radius: 0.5vw;
      padding: 0.5vw 1.2vw;
      cursor: pointer;
      font-size: 1.2vw;
    }
    .warningImg{
      // border: 2px solid red;
      width: 12svh;
      position: absolute;
      top: -42%;
      // filter: drop-shadow(5px 5px black);
    }
  }

  @media (max-width: 1024px) {
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding-top: 10vw;
      background-color: rgba(0, 0, 0, 0.5);
      // align-items: flex-start !important;
      z-index: 1000;
    }
  
    .modal-content {
      background: white;
      padding: 3vw;
      gap: 2vw;
      border-radius: 2vw;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      max-width: 80vw;
      width: 90%;
      // text-align: center;
      // justify-content: flex-start;
      // align-items: flex-start;
      position: relative;
      // border: 2px solid blue;
      .eventPre {
        font-size: 2.9vw;
      }
      .detailCon {
        // border: 2px solid blue;
        justify-content: flex-start;
        gap: 2vw;
        padding: 2vw;
        align-items: flex-start;
        .modalHead {
          font-size: 2.4vw;
        }
        .modalHead strong {
          margin-right: 5px;
        }
      }
      .close-preview {
        // border: 2px solid rgb(185, 156, 61);
        background-color: #ff3300;
        color: white;
        border: none;
        border-radius: 2vw;
        padding: 2vw 4vw;
        cursor: pointer;
        margin-top: 1vw;
        font-size: 3vw;
      }
      .warningImg{
        // border: 2px solid red;
        width: 10svh;
        top: -62%;
      }
    }
  }

  @media (max-width: 480px) {
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding-top: 40vw;
      background-color: rgba(0, 0, 0, 0.5);
      align-items: flex-start;
      z-index: 1000;
    }
  
    .modal-content {
      background: white;
      padding: 3vw;
      gap: 2vw;
      border-radius: 2vw;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      max-width: 80vw;
      width: 90%;
      position: relative;
      // border: 2px solid blue;
      .detailCon {
        // border: 2px solid blue;
        justify-content: flex-start;
        gap: 2vw;
        padding: 2vw;
        align-items: flex-start;
        .modalHead strong {
          margin-right: 5px;
        }
      }
      .close-preview {
        // border: 2px solid rgb(185, 156, 61);
        background-color: #ff3300;
        color: white;
        border: none;
        border-radius: 2vw;
        padding: 2vw 4vw;
        cursor: pointer;
        margin-top: 1vw;
        font-size: 3vw;
      }
      .warningImg{
        width: 6svh;
        top: -50%;
      }
    }
  }
  
  // for vertical screen

  .modal-overlay-vertical {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 20vw;
    padding-bottom: 20vw;
    background-color: rgba(0, 0, 0, 0.5);
    // align-items: flex-start !important;
    //   border: 2px solid blue;
    z-index: 1000;
    // border: 2px solid red;
    
    .modal-content {
      background: white;
      padding: 1.5vh;
      gap: 1vw;
      border-radius: 0.5vw;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      max-width: 40svh;
      width: 90%;
    // text-align: center;
    // justify-content: flex-start;
    // align-items: flex-start;
    position: relative;
      border: 2px solid blue;
    .eventPre {
      font-size: 3vh;
      text-align: center;
    }
    .detailCon {
      // border: 2px solid blue;
      justify-content: flex-start;
      gap: 1vw;
      padding: 1svh;
      align-items: flex-start;
      .modalHead {
        font-size: 2vh;
        text-align: center;
      }
    }
    .close-preview {
      // border: 2px solid rgb(185, 156, 61);
      background-color: #ff3300;
      color: white;
      border: none;
      border-radius: 0.5vw;
      padding: 0.8svh 2svh;
      cursor: pointer;
      font-size: 2.1svh;
    }
    .warningImg{
      // border: 2px solid red;
      width: 6svw;
      position: absolute;
      top: -42%;
      // filter: drop-shadow(5px 5px black);
    }
  }
}