.LoginComp {
  //   border: 1px solid rgb(66, 66, 71);
  width: 30vw;
  border-radius: 3vw;
  height: 30vw;
  background: rgb(255, 255, 255);
  box-shadow: 0.2vw 0.2vw 0.5vw rgba(0, 0, 0, 0.2);
  .head1 {
    // border: 1px solid red;
    // width: 100%;
    padding: 0.6vw 1.8vw;
    text-align: center;
    // width: 10%;
    font-size: 2.3vw;
    font-weight: 600;
  }
  .head2 {
    // border: 1px solid green;
    text-align: center;
    color: gray;
    font-size: 1vw;
  }
  .googleLogin {
    border: 1px solid rgb(185, 179, 179);
    padding: 0.5vw 4.5vw;
    font-size: 1vw;
    border-radius: 2vw;
    .google-logo {
      font-size: 2vw;
      margin-right: 1vw;
    }
  }
  .googleLogin:hover {
    background-color: #f6ce4c;
    color: black;
    border: 1px solid white;
  }
}
@media all and (max-width: 1024px) {
  .LoginComp {
    // border: 1px solid rgb(66, 66, 71);
    width: 70vw;
    margin-top: 15vw;
    border-radius: 3vw;
    height: 40vw;
    gap: 1.5vw;
    .head1 {
      // border: 1px solid red;
      // width: 100%;
      padding: 0.6vw 1.8vw;
      text-align: center;
      // width: 10%;
      font-size: 3.4vw;
    }
    .head2 {
      // border: 1px solid green;
      text-align: center;
      color: gray;
      font-size: 2.3vw;
    }
    .googleLogin {
      border: 1px solid rgb(185, 179, 179);
      padding: 0.5vw 4.5vw;
      font-size: 2.3vw;
      border-radius: 3vw;
      .google-logo {
        font-size: 3.2vw;
        margin-right: 2vw;
      }
    }
  }
}
@media all and (max-width: 480px) {
  .LoginComp {
    border: 1px solid rgb(66, 66, 71);
    width: 90vw;
    border-radius: 5vw;
    height: 75vw;
    .head1 {
      // border: 1px solid red;
      width: 100%;
      padding: 0.6vw 1.8vw;
      // text-align: start;
      // width: 10%;
      font-size: 7vw !important;
      font-weight: 600;
    }
    .head2 {
      // border: 1px solid green;
      text-align: center;
      width: 60vw;
      color: rgb(83, 81, 81);
      font-size: 3.5vw;
    }
    .googleLogin {
      border: 1.2px solid rgb(185, 179, 179);
      padding: 1.3vw 5vw;
      font-size: 3.7vw;
      border-radius: 2.5vw;
      .google-logo {
        font-size: 5vw;
        margin-right: 2vw;
      }
    }

    .googleLogin:hover {
      background-color: rgb(45, 90, 249);
      color: white;
      border: 1px solid white;
    }
  }
}
