.introHeading {
    margin-top: 20px;
    font-size: 70px;
    line-height: 1.2;
    backdrop-filter: blur(3px);
    font-weight: 900 !important;
    transition: all 0.2 linear;
    font-family: 'Playfair Display', serif;
}

.intro-Section {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    left: 0px;
    top: 0px;
}

.introWraper {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.wrapperBox {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.introHeading span {
    color: #ffcb47;
}

.introTitle {
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-family: 'Inter', sans-serif;
}

.introTitle span {
    color: #ffcb47;
}

.blob {
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(180deg,
            rgba(47, 184, 255, 0.42) 31.77%,
            #5c9df1 100%);
    mix-blend-mode: color-dodge;
    -webkit-animation: move 25s infinite alternate;
    animation: move 25s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

.blob:hover {
    width: 520px;
    height: 520px;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    box-shadow:
        inset 0 0 0 5px rgba(255, 255, 255, 0.6),
        inset 100px 100px 0 0px #fa709a,
        inset 200px 200px 0 0px #784ba8,
        inset 300px 300px 0 0px #2b86c5;
}

@-webkit-keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(500px, 100px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}

@keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(500px, 100px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}

/* 
.CaseStudieCard {
    width: 100%;
}

.innerBox {
    width: 100%;
    padding: 0px 20px;
    overflow: hidden;
}

.innerBox img {
    border-radius: 30px;
    width: 100%;
    height: auto;
}

.caseHeading {
    font-weight: bold;
    margin-top: 10px;
}

.innerBox p {
    padding: 3px 0px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: rgb(12 44 43 / 70%);
    text-align: justify;
}

.innerBox li {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: rgb(12 44 43 / 70%);
    text-align: justify;
}

.address {
    padding: 10px 0px;
}

.address strong {
    color: rgb(12 44 43 / 90%);
}

.address p {
    padding: 0px;
    /* line-height: ; */
/* margin: 0px; */
/* }  */

/* card  */

.cartBody {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.backBody {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in;
}

.backBody>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cartBody:hover .backBody {
    transform: scale(1.2);
}

.frontBody {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0px;
    color: #fff;
    transform: translateY(-30px);
    z-index: 100;
    padding-top: 55%;
    transition: all 500ms ease-in;
    background: linear-gradient(180deg,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 0%, 0.3) 10%,
            hsl(0, 0%, 0%) 100%);
}

.cartBody:hover .frontBody {
    transform: translateY(-50%);
}

.caseStudie__Title {
    font-size: 20px;
    color: #fff;
    padding: 0px 10px;
}

.cs__desc {
    text-overflow: ellipsis;
    height: auto;
    overflow: hidden;
    padding: 10px;
    transition: all 500ms ease-in;
    opacity: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.cartBody:hover .cs__desc {
    opacity: 1;
}

.ellipsis {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* page  */
.caseHomePage {
    width: 100%;
    height: 90vh;
    position: relative;
}

.pagebg {
    width: 100%;
    height: 100%;
    left: 0px;
}

.pagebg img {
    width: 100%;
    height: 100%;
}

.pageText {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0px;
    line-height: 1.2;
    color: #fff;
    left: 0px;
    height: 100%;
    width: 100%;
    font-size: 100px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.zoom {
    animation: homeText 0.6s linear;
}

@keyframes homeText {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.caseContainer {
    width: 100%;
    padding: 100px 0px;
}

.ColText {
    font-size: 50px;
    line-height: 1.2;
    font-weight: 900;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 0px 20px;
}

.imageCol {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.imageCol img {
    width: 100%;
    height: 100%;
}

/* case page  */
.pageContainer {
    position: relative;
    width: 100%;
    padding: 60px 0px;
    background: #0c2c2b;
}

.pageContainer .heading {
    color: #fff;
    text-align: center;
    padding: 50px 0px;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 900;
}

.key-inner {
    padding: 20px;
    width: 100%;
    height: 100%;
}

.keyCount {
    font-size: 70px;
    color: #fff;
    font-weight: 900;

    text-align: center;
}

.keyPara {
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.pageContAbout {
    width: 100%;
    height: auto;
    margin: 0px auto 0px;
    background: url('../Assets/Tetra-Pak2.jpg') no-repeat center center/cover;
}

.pageContAbout1 {
    width: 100%;
    height: auto;
    margin: 0px auto 0px;
    background: url('../Assets/Tetra-Pak1.jpg') no-repeat center center/cover;
}

.pageContInner {
    padding: 180px 0px 130px;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f5f5f4 50%, transparent 50%);
}

.pageContInner1 {
    padding: 180px 0px 130px;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #f5f5f4 52.9%, transparent 0%);
}

.pageInnerCol {
    width: 100%;
}

.headCol {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.ColPara {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.useCaseSection {
    width: 100%;
    padding: 100px 0px 0px;
    background: #f5f8f7;
}

.useCaseSection .heading {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 900;
    line-height: 1.1;
}

.conInner1 {
    padding: 70px 0px;
    font-size: 24px;
    text-align: center;
    font-weight: 900;
}

.conInner2 {
    padding: 70px 0px;
    font-size: 24px;
    text-align: left;
    font-weight: 900;
}

/* --------------------- */
/* @charset "UTF-8"; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&display=swap");

:root {
    --font-size: 0.8em;
    --bg1: #f5f8f7;
    --blue: #3498db;
    --green: #2ecc71;
    --purple: #9b59b6;
    --gold: #f1c40f;
    --red: #e74c3c;
    --orange: #e67e22;
    --shadow1: 0 2px 4px #00000026, 0 3px 6px #0000001f;
    --shadow2: 0 2px 6px #00000044, 0 4px 7px #00000022;
}


.infoGraphic .li {
    position: relative;
    background: var(--bg1);
    border-radius: 0.5em;
    padding: 0.5em;
    z-index: 1;
    transition: all 0.2s;
    cursor: pointer;
    list-style: none;
}

.infoGraphic .li .numberWrap {
    position: absolute;
}

.infoGraphic .li .number {
    font-family: "maven pro", sans-serif;
    font-size: 13em;
    font-weight: 900;
    width: 0.9em;
    text-align: center;
}

.infoGraphic .li .number.fontColor1 {
    color: var(--blue);
}

.infoGraphic .li .number.fontColor2 {
    color: var(--green);
}

.infoGraphic .li .number.fontColor3 {
    color: var(--purple);
}

.infoGraphic .li .number.fontColor4 {
    color: var(--gold);
}

.infoGraphic .li .number.fontColor5 {
    color: var(--red);
}

.infoGraphic .li .number.fontColor6 {
    color: var(--orange);
}

.infoGraphic .li .coverWrap {
    transform: rotate(130deg);
    position: absolute;
    width: 18em;
    height: 15em;
    left: 0em;
    top: -0em;
}

.infoGraphic .li .coverWrap .numberCover {
    position: absolute;
    background: var(--bg1);
    width: 18em;
    height: 6em;
    border-radius: 50% 50% 0 0;
    border-bottom: 3px solid #f5f8f7;
    transition: all 0.4s;
}

.infoGraphic .li .coverWrap .numberCover::before {
    position: absolute;
    content: "";
    bottom: 5px;
    left: 4em;
    right: 4em;
    top: 5em;
    box-shadow: 0 0 30px 17px #48668577;
    border-radius: 100px/10px;
    z-index: -1;
}

.infoGraphic .li .coverWrap .numberCover::after {
    position: absolute;
    bottom: 0;
    content: "";
    left: -10%;
    width: 120%;
    height: 150%;
    background: radial-gradient(at bottom, #48668533, transparent, transparent);
    z-index: 1;
}

.infoGraphic .li .content {
    margin: 134px 0px 60px 170px;
    position: relative;
}


.infoGraphic .li .content p {
    line-height: 1.2;
    font-size: 16px;
}

.infoGraphic .li:hover .coverWrap .numberCover {
    border-radius: 100%;
}

.icon {
    position: absolute;
    font-size: 2rem;
    text-align: center;
    top: -1.3em;
    left: 50%;
    transform: translatex(-50%);
}

.icon:before {
    color: #666;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.benefitsCart {
    padding: 0px 200px;
    margin: 50px auto 100px
}

.benefitInner {
    padding: 20px;
}

.benefitsCartBox {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 30px;
    height: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #0c2c2b;
    background: #fff;
}

/* card end  */

@media (max-width:1200px) {
    .introHeading {
        font-size: 60px;
    }

    .pageText {
        font-size: 80px;
    }
}

@media (max-width:1024px) {
    .introHeading {
        font-size: 50px;
    }
}

@media (max-width:991px) {
    .caseHeading {
        margin-top: 40px;
    }
}

@media (max-width:425px) {
    .introTitle {
        font-size: 20px;
    }
}

@media (max-width:375px) {
    .introHeading {
        font-size: 40px;
    }

    .introTitle {
        font-size: 18px;
    }
}