.expBtn {

    .button {
        // line-height: 1;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: .75rem;
        // background-color: var(--clr);
        color: #fff;
        font-size: 20px;
        border-radius: 10rem;
        font-weight: 600;
        padding: .75rem 1.5rem;
        padding-left: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: background-color .3s;
    }

    .button__icon-wrapper {
        flex-shrink: 0;
        width: 25px;
        height: 25px;
        position: relative;
        color: var(--clr);
        background-color: #fff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        overflow: hidden;
    }

    .button:hover {
        background-color: #000;
    }

    .button:hover .button__icon-wrapper {
        color: #000;
    }

    .button__icon-svg--copy {
        position: absolute;
        transform: translate(-150%, 150%);
    }

    .button:hover .button__icon-svg:first-child {
        transition: transform .3s ease-in-out;
        transform: translate(150%, -150%);
    }

    .button:hover .button__icon-svg--copy {
        transition: transform .3s ease-in-out .1s;
        transform: translate(0);
    }
}