/* ------------------        footer   -------------------- */
footer a {
    text-decoration: none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

footer a,
footer button {
    transition: 0.5s;
}

footer a,
footer p {
    font-size: 14px;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    color: #002347;
    font-weight: 600;
}

footer a,
footer button,
footer input,
footer textarea,
footer select {
    outline: none !important;
}

footer fieldset {
    border: 0;
}

.title {
    color: #002347;
}

.flex,
.fixed_flex {
    display: flex;
}

.flex-content {
    width: 100%;
    position: relative;
}

.padding_1x {
    padding: 1rem;
}

.padding_2x {
    padding: 2rem;
}

.padding_3x {
    padding: 3rem;
}

.padding_4x {
    padding: 4rem;
}

.btn {
    padding: 0.8rem 2rem;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

.btn_1 {
    border: 1px solid #002347;
    background-color: #002347;
    color: #fdc632;
}

.btn_1:hover {
    background-color: transparent;
    color: #002347;
}

.btn_2 {

    border: 1px solid #fdc632 !important;
    background: #fdc632 !important;
    color: #fff !important;
}

.btn_2:hover {
    border: 1px solid #fdc632;
    background-color: #fdc632;
    color: #002347;
}

@media (max-width:920px) {
    .flex {
        flex-wrap: wrap;
    }

    .padding_1x,
    .padding_2x,
    .padding_3x,
    .padding_4x {
        padding: 1rem;
    }

    .btn {
        padding: 0.5rem 1rem;
    }

    a,
    p {
        font-size: 12px;
    }
}



/***************************
  
  
               FOOTER
  ****************************/
footer {
    background-color: #002347;
    color: rgba(255, 255, 255, 0.6);
}

footer h3 {
    color: #FFF;
    margin-bottom: 1.5rem;
}

footer a {
    color: rgba(255, 255, 255, 0.6);
    display: block;
    margin: 15px 0;
}

footer a:hover {
    color: #FFF;
}

footer fieldset {
    padding: 0;
}

footer fieldset input {
    background-color: #334f6c;
    border: 0;
    color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
}

footer fieldset .btn {
    border-radius: 0;
    border: 0;
}

footer fieldset .btn_2:hover {
    background-color: #fdc632;
    border: 0;
    color: #002347;
}

footer .flex:last-child {
    align-items: center;
}

footer .flex:last-child .flex-content:last-child {
    text-align: right;
}

footer .flex:last-child p {
    color: #FFF;
}

footer .flex:last-child a {
    width: 40px;
    display: inline-block;
    background-color: #334f6c;
    color: #FFF;
    padding: 0.5rem;
    margin-right: 3px;
    text-align: center;
}

footer .flex:last-child a:hover {
    background-color: #fdc632;
    color: rgba(1, 1, 1, 0.6);
}

@media (max-width:1100px) {
    footer .flex:first-child {
        flex-wrap: wrap;
    }

    footer .flex:first-child .flex-content {
        flex: 1 1 40%;
    }
}

@media (max-width:920px) {
    footer .flex:last-child .flex-content:last-child {
        text-align: left;
    }
}

@media (max-width:320px) {
    footer .flex:first-child .flex-content {
        flex: 1 1 100%;
    }
}