.footer {
    width: 100%;
    position: relative;
    padding-top: 200px;
}

.main-footer {
    width: 100%;
    height: 100%;
    background-color: #002347;
    position: relative;
    padding-top: 150px;
}

.bookdemo-footer {
    /* height: 300px; */
    width: 70%;
    background: #fafafa;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -0%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    z-index: 10;
}

.bookDemo {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    height: 100%;
    background: #fff;
}

.bookdemo-footer::after,
.bookdemo-footer::before {
    width: 20%;
    height: 50%;
    background: #fdc632;
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 8px;
}

.bookdemo-footer::after {
    top: -15px;
    left: -15px;

}

.logo_outer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background: red; */
}

.demoText {
    font-size: 60px;
    font-weight: 900;
    color: #334f6c;
}

.demo_logo {
    width: 250px;
    height: 250px;

}

.demo_logo img {
    width: 100%;
    height: 100%;
}

.bookdemo-footer::before {
    right: -15px;
    bottom: -15px;
    background: #fdc632;
}

/* ===================== */
.aside_social {
    width: auto;
    position: fixed;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.link_box {
    width: auto;
    font-family: 'Poppins', sans-serif;
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
    position: relative;
    margin: 5px 0px;
    left: -100%;
    transition: all 0.3s linear;
    transform: translateX(45px)
}

.link_box:hover {
    background: #fafafa;
    transform: translateX(0px);
    left: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

span {
    color: #fff;
}

a.link {
    padding: 0px !important;
    margin: 0px !important;
    width: 100%;
    display: flex;
    align-items: center;
    color: #002347;
    align-items: center;
    justify-content: flex-end;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}


span.text {
    opacity: 0;
    font-size: 16px;
    color: #002347;
    transition: all 0.3s linear;
    padding-left: 10px;
}

.link_box:hover span.text {
    opacity: 1;
}

span.icon {
    display: block;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
    z-index: 10;
    position: relative;
}

span.icon::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    background: #000;
    content: "";
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.2s;
    border-radius: 50%;
    z-index: -1;
}

span.icon:hover {
    color: #fff;
}

span.icon:hover:before {
    transform: translate(-50%, -50%) scale(1);
}

#wapp::before {
    background-color: #4ac959;
}

#twt::before {
    background-color: #00aced;
}

#face::before {
    background-color: #3d5998;
}

#insta::before {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306c, #FD1D1D);
}

.icon:hover:before {
    width: 100%;
    height: 100%;
}

/* ------------------        footer   -------------------- */
footer a {
    text-decoration: none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

footer a,
footer button {
    transition: 0.5s;
}

footer a,
footer p {
    font-size: 14px;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    color: #002347;
    font-weight: 600;
}

footer a,
footer button,
footer input,
footer textarea,
footer select {
    outline: none !important;
}

footer fieldset {
    border: 0;
}

.title {
    color: #002347;
}

.flex,
.fixed_flex {
    display: flex;
}

.flex-content {
    width: 100%;
    position: relative;
}

.padding_1x {
    padding: 1rem;
}

.padding_2x {
    padding: 2rem;
}

.padding_3x {
    padding: 3rem;
}

.padding_4x {
    padding: 4rem;
}

.btn {
    padding: 0.8rem 2rem;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

.btn_1 {
    border: 1px solid #002347;
    background-color: #002347;
    color: #fdc632;
}

.btn_1:hover {
    background-color: transparent;
    color: #002347;
}

.btn_2 {

    border: 1px solid #fdc632 !important;
    background: #fdc632 !important;
    color: #fff !important;
}

.btn_2:hover {
    border: 1px solid #fdc632;
    background-color: #fdc632;
    color: #002347;
}

@media (max-width:920px) {
    .flex {
        flex-wrap: wrap;
    }

    .padding_1x,
    .padding_2x,
    .padding_3x,
    .padding_4x {
        padding: 1rem;
    }

    .btn {
        padding: 0.5rem 1rem;
    }

    a,
    p {
        font-size: 12px;
    }
}



/***************************
  
  
               FOOTER
  ****************************/
footer {
    color: rgba(255, 255, 255, 0.6);
}

footer h3 {
    color: #FFF;
    margin-bottom: 1.5rem;
}

footer a {
    color: rgba(255, 255, 255, 0.6);
    display: block;
    margin: 15px 0;
}

footer a:hover {
    color: #FFF;
}

footer fieldset {
    padding: 0;
}

footer fieldset input {
    background-color: #334f6c;
    border: 0;
    color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
}

footer fieldset .btn {
    border-radius: 0;
    border: 0;
}

footer fieldset .btn_2:hover {
    background-color: #fdc632;
    border: 0;
    color: #002347;
}

footer .flex:last-child {
    align-items: center;
}

footer .flex:last-child .flex-content:last-child {
    text-align: right;
}

footer .flex:last-child p {
    color: #FFF;
}

footer .flex:last-child a {
    width: 40px;
    display: inline-block;
    background-color: #334f6c;
    color: #FFF;
    padding: 0.5rem;
    margin-right: 3px;
    text-align: center;
}

footer .flex:last-child a:hover {
    background-color: #fdc632;
    color: rgba(1, 1, 1, 0.6);
}

@media (max-width:1100px) {
    footer .flex:first-child {
        flex-wrap: wrap;
    }

    footer .flex:first-child .flex-content {
        flex: 1 1 40%;
    }
}

@media (max-width:1024px) {
    .demo_logo {
        width: 200px;
        height: 200px;
    }

    .demoText {
        font-size: 40px;
    }
}

@media (max-width:920px) {
    footer .flex:last-child .flex-content:last-child {
        text-align: left;
    }

    .demo_logo {
        width: 180px;
        height: 180px;
    }

    .demoText {
        font-size: 36px;
    }
}

@media (max-width:769px) {
    .demo_logo {
        width: 150px;
        height: 150px;
    }

    .demoText {
        font-size: 26px;
    }
}

@media (max-width:426px) {
    .demo_logo {
        width: 150px;
        height: 150px;
    }

    .demoText {
        font-size: 26px;
    }
}

@media (max-width:320px) {
    footer .flex:first-child .flex-content {
        flex: 1 1 100%;
    }

    .bookdemo-footer {
        width: 85%;
    }

    .demo_logo {
        width: 120px;
        height: 120px;
    }

    .demoText {
        font-size: 18px;
    }

    .bookDemo a {
        margin: 0px;
    }

    .bookDemo {
        padding-bottom: 15px;
    }
}