@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background: #f5f5f4;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #000;
  border: #f5f5f4 6px solid;
}

a {
  text-decoration: none;
}

main {
  background: #f5f5f4;
  padding-top: 72px;
  height: 100vh;
  overflow: auto;
}

.main {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.mainContainer {
  width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
}

.introSection {
  width: 100%;
  height: 90vh;
}

@media screen and (max-width:1023px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}

@import url('./button.css');
@import url('./home.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./contact.css');
@import url('./service.css');
@import url('./case_studie.css');
@import url('./service_project.css');