/* header  */
nav {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 0px 20px;
    position: fixed;
    z-index: 2917;
    top: 0px;
}

.navbar {
    display: flex;
    align-items: center;
}

.logo {
    /* height: 37px; */
    /* background: #000; */
    padding-left: 20px;
}

.logo img {
    /* height: 100%; */
}

@media (max-width :1024px) {
    .logo {
        padding-left: 0px;
    }
}

.logo-container img {
    height: 100%;
}

.navlink {
    font-size: 16px;
    text-decoration: none;
    margin: 0px 10px;
    font-weight: 700;
    line-height: 59px;
    padding: 8px 5px;
    color: rgb(12 44 43 / 50%);
    text-transform: capitalize;
}

.navlink.active,
.navlink:hover {
    color: rgb(0 0 0 / 90%);
}

.nav {
    margin-left: 30px;
}

.navButton {
    display: flex;
}

.navButton {
    margin: 0px 6px;
}

.navButton a:nth-child(1) button {
    border: 2px solid #000;
    font-weight: bold;
    background: #000000;
    border-radius: 25px;
    color: #fff;
    padding: 8px 20px;
    margin-right: 10px;
    font-size: 14px;
}

.navButton a:nth-child(1):hover button {
    background: rgba(0, 0, 0, 0.8);
}

.navButton a:nth-child(2) button {
    font-weight: bold;
    background: #fff;
    border-radius: 25px;
    color: #000;
    border: 2px solid #000;
    padding: 8px 20px;
    font-size: 14px;
}

/* mobile  */
.toggle {
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    position: relative;
}

#toggle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.mobile-container {
    position: fixed;
    top: 72px;
    right: 0px;
    width: 0px;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.4);
}

.mobile-container.active {
    width: 100%;
}

.mobile-nav {
    transition: all 1s linear;
    width: 100%;
    height: 0px;
    background: #fff;
    overflow: hidden;
}

.mobile-nav.active {
    transition: all 0.1s linear;
    height: 100%;
}

.mobileLogo {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.mobileLogo img {
    height: 90%;
}

.mobileMenuContaienr {
    position: relative;
}

.mobileMenuContaienr::after {
    content: "";
    position: absolute;
    bottom: -25px;
    height: 2px;
    background: rgba(19, 22, 22, 0.089);
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

.listMenu {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

.listMenu a {
    text-decoration: none;
    color: rgb(12 44 43 / 50%);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
}

.listMenu a.active {
    color: #000;
}

.listMenu {
    width: 100%;
    height: auto;
}

.MobileNavBtn {
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

.MobileNavBtn a:nth-child(1) button {
    border: 2px solid #000;
    font-weight: bold;
    background: #000000;
    border-radius: 25px;
    color: #fff;
    padding: 8px 20px;
    margin-right: 10px;
    font-size: 14px;
}

.MobileNavBtn a:nth-child(1):hover button {
    background: rgba(0, 0, 0, 0.8);
}

.MobileNavBtn a:nth-child(2) button {
    font-weight: bold;
    background: #fff;
    border-radius: 25px;
    color: #000;
    border: 2px solid #000;
    padding: 8px 20px;
    font-size: 14px;
}