
.project-slider .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.project-slider .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 25%;
}
.slideInner{
  width: 100%;
  height: 400px;
}