/* -----------------------------service-----------------------------  */
.service {
    padding: 50px 0px;
    transition: all 0.2s linear
}

.serviceCart {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    transition: all 0.2s linear;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 8px;
    cursor: pointer;
}

.serviceCart:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.iconContainer {
    width: 100%;
    height: 150px;
    position: relative;
    transition: all 0.2s linear
}

.serviceIcon {
    top: 50%;
    left: 50%;
    position: absolute;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.2s linear;
}

.serviceCart:hover .serviceIcon {
    transform: translate(-50%, -70%) scale(1.3)
}

.serviceIcon img {
    height: 100%;
    width: auto;
}

.cartTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
}

.serviceCart p {
    color: #828da5;
    font-size: 14px;
    padding: 0px 20px;
    text-align: justify;
}

.serviceCart button {
    border-radius: 10px;
    background: #222;
}

.serviceCart button a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}