@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* -----------------------------service-----------------------------  */
.service {
    padding: 50px 0px;
    transition: all 0.2s linear
}

.serviceCart {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    transition: all 0.2s linear;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 8px;
    cursor: pointer;
}

.serviceCart:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.iconContainer {
    width: 100%;
    height: 150px;
    position: relative;
    transition: all 0.2s linear
}

.serviceIcon {
    top: 50%;
    left: 50%;
    position: absolute;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.2s linear;
}

.serviceCart:hover .serviceIcon {
    transform: translate(-50%, -70%) scale(1.3)
}

.serviceIcon img {
    height: 100%;
    width: auto;
}

.cartTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
}

.serviceCart p {
    color: #828da5;
    font-size: 14px;
    padding: 0px 20px;
    text-align: justify;
    /* font-family: 'Playfair Display', serif; */
}

.serviceCart button {
    border-radius: 10px;
    background: #222;
}

.serviceCart button a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

/* intro  */

.serviceintro {
    position: relative;
    height: 100vh;
}

.intro {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #124c76, 50%, #030423);
    position: absolute;
}

.wrapper .dotOut {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
}

.dotOut .dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20%;
    right: 20%;
}

.wrapper .dotOut:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.wrapper .dotOut:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
}

.wrapper .dotOut:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
}

.wrapper .dotOut:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
}

.wrapper .dotOut:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
}

.wrapper .dotOut:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
}

.wrapper .dotOut:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.wrapper .dotOut:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.wrapper .dotOut:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
}

.wrapper .dotOut:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
}

.wrapper .dotOut:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
}

.wrapper .dotOut:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
}

.wrapper .dotOut:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.wrapper .dotOut:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
}

.wrapper .dotOut:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(70deg);
    }

    100% {
        transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
}

/* microsite design  */
.serviceIntro {
    width: 100%;
    height: 90vh;
    position: relative;
}

.backGround {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.backGround img {
    width: 100%;
    height: 100%;
}

.introSection {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.introSection h1 {
    text-align: center;
    font-weight: 900;
    transition: 0.2s linear;
    color: #ffcb47;
    font-family: 'Playfair Display', serif;
}

.introSection h1 span {
    /* color: #fff; */
}

.introDesc {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    font-size: 60px;
    line-height: 1.1;
    text-align: center;
    padding-top: 30px;
}

.desc {
    background: #fefefe;
    padding: 60px 0px 100px;
}

.section {
    padding: 50px 0px;
}

.bgWhite {
    background: #fff;
}

.desc h2,
.section h2 {
    font-weight: 900;
    text-transform: capitalize;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-size: 60px;
    text-align: center;
}

.serviceContainer {
    width: 100%;
}

.serviceContainer h4 {
    font-size: 22px;
    font-weight: 900;
    color: #ffcb47;
    margin-top: 50px;
    font-family: 'Playfair Display', serif;
}

.serviceContainer p {
    font-size: 18px;
    text-align: justify;
}

.section a {
    margin-right: 40px;
}

.use_case {
    margin-top: 100px;
    background: url('../../public/back-pattern.png') repeat;
}

#use_case {
    padding: 20px 0px;
    background: rgba(255, 255, 255, 0.7);
}

.use_case_heading {
    text-transform: capitalize;
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
}

.cartOut {
    height: 100%;
    padding: 20px;
}

.cartBox {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    border: #fafafa 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.boxImg {
    width: 100%;
    height: auto;
    position: relative;
}

.boxImg img {
    width: 100%;
}

.titleBox {
    height: 0%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: grid;
    text-align: center;
    place-items: center;
    background: #000000c8;
    color: #ffcb47;
    font-size: 20px;
    letter-spacing: 1px;
    overflow: hidden;
    transition: all 0.2s linear;
    font-family: 'Playfair Display', serif;
}

.use_case_intro {
    text-align: center;
    line-height: 1.2;
    font-size: 30px;
    padding: 8px 0px 30px;
}

.cartBox:hover .titleBox {
    height: 100%;
}


.Benefits {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BenefitsContainer {
    padding-bottom: 80px;
}

.BenefitsContainer h4 {
    text-align: center;
    font-size: 50px;
    color: #ffcb47;
    padding: 40px;
    text-transform: capitalize;
    font-weight: 900;
}

.BenefitsTitile {
    padding: 150px 0px;
    width: 100%;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    /* color: var(--swiper-theme-color); */
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

/* ------------------------  */

.BenefitsTitile {
    display: grid;
    place-items: center;

    --bkg: #5eb3fd;
    --white: #e7e6e6;

    background-color: var(--white);
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

.containerOut {
    height: 500px;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    font-size: 50px;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    color: black;
}

.ghost {
    padding: 40px 0px;
    width: 6vmin;
    height: 10vmin;
    background-color: var(--white);
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
    background-image: radial-gradient(ellipse at 35% 40%, #000 8%, transparent 0%),
        radial-gradient(ellipse at 65% 40%, #000 8%, transparent 0%),
        radial-gradient(ellipse at 50% 60%, #000 8%, transparent 0%);
    border-radius: 100% / 70% 70% 0% 0%;
    transform: translateX(100em) rotateZ(-90deg);
    position: relative;
    opacity: 0.9;
    mix-blend-mode: exclusion;
    animation: ghostMove 4s ease-out infinite;
}

@keyframes ghostMove {
    0% {
        transform: translateX(30em) rotateZ(-90deg);
    }

    100% {
        transform: translateX(-35em) rotateZ(-90deg);
    }
}

.ghost div {
    position: absolute;
    width: 20%;
    background-color: var(--white);
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

.ghost div:nth-of-type(1) {
    height: 7vmin;
    left: 0;
    bottom: -6vmin;
    border-radius: 100% / 0% 0% 50% 50%;
}

.ghost div:nth-of-type(2),
.ghost div:nth-of-type(4) {
    height: 4vmin;
    left: 20%;
    bottom: -3vmin;
    border-radius: 100% / 50% 50% 0% 0%;
    background-color: transparent;
}

.ghost div:nth-of-type(3) {
    height: 4vmin;
    left: 40%;
    bottom: -3.95vmin;
    border-radius: 100% / 0% 0% 60% 60%;
    background-color: var(--white);
}

.ghost div:nth-of-type(4) {
    left: 60%;
}

.ghost div:nth-of-type(5) {
    height: 3vmin;
    left: 80%;
    bottom: -2.9vmin;
    border-radius: 100% / 0% 0% 70% 70%;
    background-color: var(--white);
}

/* ------------------------  */

@media (max-width:1440px) {
    .introDesc {
        font-size: 50px;
    }
}

@media (max-width:1024px) {
    .introDesc {
        font-size: 40px;
    }

    .serviceContainer p {
        font-size: 16px;
    }

    .use_case_heading {
        font-size: 30px;
    }

    .desc h2,
    .section h2 {
        font-size: 46px;
    }

    .use_case_intro {
        font-size: 20px;
        padding: 8px 10px;
    }
}

@media (max-width:768px) {
    .introDesc {
        font-size: 35px;
    }

    .use_case_intro {
        font-size: 18px;
    }

    .backGround img {
        width: 150%;
        transform: translateX(-25%);
    }
}