.whatsappModal {
  /* border: 2px solid black; */
  /*   margin-left: auto;
  margin-right: 0; */
  transform: translate(25%, 5%);
  /* border-radius: 50%; */
}

.modelBody {
  /* border: 1px solid black; */
  /* border-radius: 50px; */
}

.headerType {
  border: 1px solid black;
  background-color: #085d50;
  /* border-radius: 50px 50px 0 0; */
  border-radius: 1.2vw 1.2vw 0 0;
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  align-items: center;
  padding: 12px;
}
.leftHeader {
  display: flex;
  gap: 1vw;
}
.logoContainerone {
  border: 1.3px solid #fff;
}
.contentContainer {
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* font-weight: bold; */
  letter-spacing: 1px;
}
.contentContainer .titletype {
  color: #fff;
  font-size: 1.6vw;
  /* border: 1px solid black; */
  margin: 0;
}
.contentContainer .descriptiontype {
  color: #fff;
  font-size: 1.2vw;
  /* font-size: 1.5vw; */
  /* border: 1px solid black; */
  margin: 0;
}
.closeIcon {
  /* border: 1px solid black; */
  align-self: flex-start;
  width: 2.5vw;
}

.maintype {
  /* border: 1px solid black; */
  /* border-radius: 0 0 50px 50px; */
  border-radius: 0 0 1vw 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
}

.maintype .comingMsg {
  /* width: 50%; */
  width: 60%;
  height: 40%;
  /* border: 1px solid black; */
}
.comingMsg img {
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
}

.msgBox {
  /* border: 1px solid black; */
  width: 95%;
  height: 18%;
  align-self: center;
}
.msgBox img {
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
}

@media screen and (max-width: 1024px) {
  .whatsappModal {
    /* border: 2px solid black; */
    /* background-color: aqua; */
    /*  margin-left: auto;
    margin-right: auto; */
    transform: translate(0, 0);
  }
  .headerType {
    /* border: 2px solid black; */
    gap: 2vw;
    border-radius: 2vw 2vw 0 0;
  }
  .leftHeader {
    display: flex;
    gap: 2vw;
    width: 100%;
    /* border: 1px solid black; */
  }
  .contentContainer .titletype {
    font-size: 3.2vw;
    /* border: 1px solid black; */
    margin: 0;
  }
  .contentContainer .descriptiontype {
    color: #fff;
    /* width: 50%; */
    font-size: 2.5vw;
    /* font-size: 1.5vw; */
    /* border: 1px solid black; */
    margin: 0;
  }
  .maintype .comingMsg {
    /* width: 50%; */
    width: 65%;
    height: 45%;
    /* border: 1px solid black; */
  }
  .mainType {
    /* height: 200px; */
    height: 200px;
  }
  .closeIcon {
    /* border: 1px solid black; */
    align-self: flex-start;
    width: 4vw;
  }
}
@media screen and (max-width: 480px) {
  .whatsappModal {
    /* border: 2px solid black; */
    /* background-color: aqua; */
    /*  margin-left: auto;
    margin-right: auto; */
    transform: translate(0, 0);
  }
  .headerType {
    /* border: 2px solid black; */
    gap: 2vw;
  }
  .contentContainer .titletype {
    font-size: 4.5vw;
    /* border: 1px solid black; */
    margin: 0;
  }
  .contentContainer .descriptiontype {
    color: #fff;
    /* width: 50%; */
    font-size: 3.5vw;
    /* font-size: 1.5vw; */
    /* border: 1px solid black; */
    margin: 0;
  }
  .maintype {
    /* height: 200px; */
    height: 200px;
  }
  .closeIcon {
    /* border: 1px solid black; */
    align-self: flex-start;
    width: 7.5vw;
  }
}
