.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1000;
}

.popup-overlay.show {
  opacity: 1;
  visibility: visible;
}

.popup-container {
  background: #f0edf3;
  border-radius: 1vw;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 2vw 3vw;

  text-align: center;
  animation: popup-enter 0.3s ease-in-out;
}

.popup-content h2 {
  color: #28a745;
  font-size: 1.8rem;
  margin-bottom: 12px;
}

.popup-content p {
  color: #333;
  font-size: 1rem;
  margin-bottom: 20px;
}

.close-btn {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.close-btn:hover {
  background: #0056b3;
}

@keyframes popup-enter {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@media all and (max-width: 1024px) {
  .popup-container {
    background: #f0edf3;
    border-radius: 2vw;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding: 6vw 7vw;

    text-align: center;
    animation: popup-enter 0.3s ease-in-out;
  }

  .popup-content h2 {
    color: #28a745;
    font-size: 1.8rem;
    // margin-bottom: 12px;
  }

  .popup-content p {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .close-btn {
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
}
@media all and (max-width: 480px) {
  .popup-container {
    background: #f0edf3;
    border-radius: 2vw;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding: 5vw 4vw;

    text-align: center;
    animation: popup-enter 0.3s ease-in-out;
  }

  .popup-content h2 {
    color: #28a745;
    font-size: 1.8rem;
    // margin-bottom: 12px;
  }

  .popup-content p {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .close-btn {
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
}
