.left-form-section {
    border: 0.15vw solid #ffde59;
    width: 47%;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 0.4vw;
    
    gap: 1vw;
    height: 100%;
    padding: 0.5vw;
    .heading-txt {
      width: 100%;
      text-align: center;
      font-size: 1.5vw;
      font-weight: 600;
    }
    .left-content {
      // border: 1px solid black;
      width: 100%;
      align-items: flex-start;
      .list-items-container,
      .features {
        width: 100%;
        padding-bottom: 1vw;
        border-bottom: 0.15vw solid #9e9898;
        border-radius: 0.25vw;
        align-items: flex-start;
        gap: 0.5vw;
        li {
          font-size: 1vw;
          font-weight: 500;
          position: relative;
          padding-left: 1.5vw;
          &::before {
            content: "✔";
            position: absolute;
            left: 0;
            color: green;
            font-weight: bold;
          }
        }
      }
      .features {
        li {
          font-weight: 400;
          &::before {
            content: "•";
            color: #000;
          }
        }
      }
    }

    .left-icons-container {
      width: 100%;
      gap: 1vw;
      .payment-icon {
        width: 2.5vw;
      }
      .paypal-icon {
        width: 4vw;
      }
    }
  }

/* for tablet view */

@media all and (min-width: 480px) and (max-width: 1024px) {
      .left-form-section {
        // border: 1px solid black;
        width: 100%;
        border: none;
        gap: 5vw;
        padding: 2vw;
        align-items: center;
        .heading-txt{
          // border: 1px solid red;
          font-size: 4svw;
        }
        .premium-icon-container {
          // border: 1px solid black;
          justify-content: flex-start;
          gap: 2.8vw;
          .heading-txt {
            // border: 1px solid red;
            font-size: 4.2vw;
            font-weight: 600;
          }
        }
  
        .left-content {
          // border: 1px solid black;
          align-items: flex-start;
          padding: 1.33vw;
          gap: 4.2vw;
          .list-items-container,
          .features {
            width: 100%;
            padding-bottom: 2.8vw;
            border-bottom: 0 solid #9e9898;
            border-radius: 0.7vw;
            align-items: flex-start;
            gap: 1.4vw;
            li {
              font-size: 2.8vw;
              padding-left: 5.33vw;
            }
          }
          .features {
            display: none;
          }
        }
  
        .left-icons-container {
          // border: 1px solid black;
          display: none;
          width: 100%;
          gap: 2.8vw;
          .payment-icon {
            width: 7vw;
          }
          .paypal-icon {
            width: 11.2vw;
          }
        }
      }
  } 
  
  // mobile responsive view
   @media all and (max-width: 480px) {
      .left-form-section {
        // border: 1px solid black;
        border: none;
        width: 100%;
        gap: 6vw;
        padding: 4vw;
        align-items: center;
        .heading-txt{
          font-size: 7svw;
        }
        .premium-icon-container {
          // border: 1px solid black;
          justify-content: flex-start;
          gap: 2vw;
          .heading-txt {
            font-size: 6.3vw;
            font-weight: 600;
          }
        }
  
        .left-content {
          // border: 1px solid black;
          align-items: flex-start;
          padding: 2vw;
          gap: 6.3vw;
          .list-items-container,
          .features {
            width: 100%;
            padding-bottom: 4.2vw;
            border-bottom: 0 solid #9e9898;
            border-radius: 1.05vw;
            align-items: flex-start;
            gap: 2.1vw;
            li {
              font-size: 4.2vw;
              padding-left: 8vw;
            }
          }
          .features {
            display: none;
          }
        }
  
        .left-icons-container {
          // border: 1px solid black;
          display: none;
          width: 100%;
          gap: 4.2vw;
          .payment-icon {
            width: 10.5vw;
          }
          .paypal-icon {
            width: 16.8vw;
          }
        }
      }
  } 
  