.AllEvents .mainTable tr:nth-child(even) {
  background-color: #efefef;
}

.AllEvents .mainTable tr:nth-child(odd) {
  background-color: #ffffff;
}

.AllEvents .mainTable .table-data {
  color: #333;
}
.AllEvents .table-wrapper .mainTable thead tr {
  background-color: #efefef;
}
.AllEvents {
  // border: 2px solid yellow;
  // margin-top: 2vw;
  padding: 1vw;
  width: 100%;
  gap: 2vw;
  height: 100%;
  min-height: 100vh;
  justify-content: flex-start;

  .tableHead {
    font-size: 2.5vw;
    font-weight: 600;
    color: #ffce3a;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    text-align: center;
  }
  .searchContainer {
    // border: 2px solid red;
    justify-content: space-evenly;
    width: 100%;
    // padding: 1vw;
    gap: 2vw;

    .filterContainer {
      // padding: 2vw;
      // border: 2px solid green;
      // width: 90%;
      width: 100%;
      // gap: 2vw;
      justify-content: flex-start;
      .firstFilter {
        padding: 1vw;
        // border: 2px solid blue;
      }
      .secondFilter {
        padding: 1vw;
        // border: 2px solid red;
      }
      .filter-label {
        // border: 2px solid black;

        font-size: 1.3rem;
        color: #333;
        font-weight: 600;
        margin-right: 0.5rem;
      }
      .filter-input {
        border: none;
        border-bottom: 2px solid #aaa;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0 0 4px 4px;
        outline: none;
        transition: border-color 0.3s ease;
        background-color: transparent;
      }

      .filter-input:focus {
        border-bottom: 2px solid #626466;
      }
    }
    .event-icon {
      // border: 1px solid black;
      // background: #f6ce4c;
      border-radius: 0.2vw;
      cursor: pointer;
      // width: 3.2vw;
      .newEvent {
        // border: 1px solid blue;
        // margin-right: 1vw;
        // border-radius: 1vw;
        background: #ffce3a;
        border-radius: 0.2vw;
        color: black;
        font-weight: 600;
        font-size: 2vw;
        margin: 0.4vw;
      }
    }
  }
  .table-wrapper {
    border: 1.5px solid rgb(135, 131, 135);
    width: 100%;
    // border: 1px solid red;
    // border-radius: 0.7vw;
    overflow: hidden;
    .mainTable {
      // border: 2px solid red;
      width: 100%;
      border-collapse: collapse;
      margin: 0;
    }

    .table-header {
      // border: 2px solid rgb(23, 15, 15);
      font-size: 1.3vw;
      font-weight: bold;
      text-align: left;
      text-align: center;
      color: rgb(98, 86, 86);
      padding: 0.7vw;
      border-bottom: 1px solid rgb(156, 151, 151);
      border-left: 1px solid rgb(156, 151, 151);
    }

    .table-data {
      text-align: center;
      padding: 1vw;
      // border-bottom: 1px solid gray;
      border-right: 1px solid gray;
      font-size: 1.1vw;
    }
    .edit-button,
    .delete-button,
    .preview-button,
    .launch-button {
      // padding: 0.2vw;
      width: 2.5vw;
      height: 2.5vw;
      margin: 0.5vw;
      font-size: 1.6vw;
      border: none;
      border-radius: 4vw;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
      outline: none;
    }
    .preview-button {
      // background-color: rgb(240, 160, 22);
      background-color: #ffce3a;
      color: #6b6969;
    }
    .edit-button {
      background-color: #3977d4;
      color: white;
    }
    .launch-button {
      background-color: rgb(34, 123, 34);
      color: white;
    }

    .delete-button {
      background-color: #f44336;
      color: white;
    }
  }
  .pagination {
    margin: 1.5rem 0;
    gap: 0.8rem;
    // font-family: "Roboto", sans-serif;

    .page-button {
      background-color: #ffffff;
      border: 2px solid #f6ce4c;
      border-radius: 50%;
      color: black;
      font-size: 0.9rem;
      font-weight: bold;
      width: 2vw;
      height: 2vw;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      // box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.2);
    }

    .page-button:hover {
      background-color: #f6ce4c;
      color: black;
      transform: scale(1.1);
      box-shadow: 0px 6px 12px #f6ce4c;
    }

    .page-button.active {
      background-color: #ffce3a;
      color: black;
    }

    .page-button:disabled {
      background-color: #f0f0f0;
      color: #b0b0b0;
      border-color: #e0e0e0;
      cursor: not-allowed;
      box-shadow: none;
    }
  }
}


@media (max-width: 1024px) {
  .AllEvents {
    // border: 2px solid yellow;
    // margin-top: 2vw;
    padding: 1vw;
    width: 100%;
    gap: 2vw;
    height: 100%;
    min-height: 70vh;
    justify-content: flex-start;
    .mobile-hide {
      display: none;
    }
    .tableHead {
      font-size: 4vw;
      // border: 2px solid red;
      //   padding: 1.5vw 0;
      font-weight: 600;
      background: linear-gradient(to right, #fad43a, #b3a70b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      text-align: center;
    }
    .searchContainer {
      justify-content: space-evenly;
      width: 100%;
      // padding: 1vw;
      gap: 3vw;

      .filterContainer {
        // padding: 2vw;
        // border: 2px solid green;
        width: 80%;
        // gap: 2vw;
        justify-content: flex-start;
        .firstFilter {
          padding: 1vw;
        }
        .secondFilter {
          padding: 1vw;
          // border: 2px solid red;
        }
        .filter-label {
          // border: 2px solid black;

          font-size: 2vw;
          color: #333;
          font-weight: 600;
          margin-right: 0.5rem;
        }
        .filter-input {
          border: none;
          border-bottom: 2px solid #ccc;
          padding: 0.5rem;
          font-size: 1.8vw;
          border-radius: 0 0 4px 4px;
          outline: none;
          transition: border-color 0.3s ease;
        }

        .filter-input:focus {
          border-bottom: 2px solid #626466;
        }
      }
      .event-icon {
        // border: 1px solid black;
        // background: #f6ce4c;
        border-radius: 0.2vw;
        cursor: pointer;
        // width: 3.2vw;
        .newEvent {
          // border: 1px solid blue;
          // margin-right: 1vw;
          // border-radius: 1vw;
          border-radius: 0.2vw;
          font-size: 4vw;
          margin: 0.4vw;
        }
      }
    }
    .table-wrapper {
      border: 1.5px solid rgb(135, 131, 135);
      width: 100%;
      border-radius: 1.5vw;
      overflow: hidden;
      .mainTable {
        // border: 2px solid red;
        width: 100%;
        border-collapse: collapse;
        margin: 0;
      }

      .table-header {
        // border: 2px solid rgb(23, 15, 15);
        font-size: 2vw;
        font-weight: 600;
        text-align: left;
        text-align: center;
        color: rgb(98, 86, 86);
        padding: 1vw;
        border-bottom: 1px solid rgb(156, 151, 151);
        border-left: 1px solid rgb(156, 151, 151);
      }

      .table-data {
        text-align: center;
        padding: 1vw;
        // border-bottom: 1px solid gray;
        border-right: 1px solid gray;
        font-size: 1.8vw;
      }
      .edit-button,
      .delete-button,
      .preview-button,
      .launch-button {
        width: 4vw;
        height: 4vw;
        margin: 0.5vw;
        font-size: 2.5vw;
        border: none;
        border-radius: 4vw;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        outline: none;
      }
    }
    .pagination {
      .page-button {
        font-size: 1.1rem;
        font-weight: bold;
        width: 4vw;
        height: 4vw;
        cursor: pointer;
      }
    }
  }
}


@media (max-width: 480px) {
  .AllEvents {
    // border: 2px solid rgb(108, 93, 79);
    margin-top: 2vw;
    padding: 1vw;
    width: 100%;
    gap: 2vw;
    height: 100%;
    min-height: 50vh;
    // border: 2px solid blue;
    .mobile-hide {
      display: none;
    }

    .tableHead {
      font-size: 6.2vw;
      width: 100%;
      // border: 2px solid red;
      // justify-content: flex-start !important;
      // align-items: flex-start !important;
      margin-top: 12vw;
      font-weight: 600;
      background: linear-gradient(to right, #fad43a, #b3a70b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
    }
    .searchContainer {
      // justify-content: space-evenly;
      width: 100%;
      // flex-direction: column;

      padding-right: 1vw;
      // border: 2px solid green;
      gap: 1vw;

      .filterContainer {
        padding: 0.5vw;
        flex-direction: column;
        // border: 2px solid green;
        width: 90%;
        // gap: 2vw;

        justify-content: flex-start;
        .firstFilter {
          // padding: 1vw;
          // width: 80%;
          width: 100%;
          justify-content: flex-start;
          gap: 1vw;
          // border: 2px solid blue;
        }
        .secondFilter {
          // padding: 1vw;
          gap: 1vw;
          justify-content: flex-start;
          width: 100%;
          // border: 2px solid red;
        }
        .filter-label {
          // border: 2px solid black;
          // width: 15vw;
          font-size: 3.3vw;
          color: #333;
          font-weight: 600;
          margin-right: 0.5rem;
        }
        .filter-input {
          border: none;
          border-bottom: 2px solid #ccc;
          padding: 0.5rem;
          font-size: 3.2vw;
          border-radius: 0 0 4px 4px;
          outline: none;
          transition: border-color 0.3s ease;
        }

        .filter-input:focus {
          border-bottom: 2px solid #626466;
        }
      }
      .event-icon {
        // border: 1px solid black;
        background: #f6ce4c;
        border-radius: 0.6vw;
        cursor: pointer;
        // width: 3.2vw;
        .newEvent {
          // border: 1px solid blue;
          // margin-right: 1vw;
          // border-radius: 1vw;
          // background: white !important;
          border-radius: 0.6vw;
          color: black;
          // font-weight: 600;
          font-size: 5vw !important;
          // margin: 1vw;
        }
      }
    }
    .table-wrapper {
      border: 1.5px solid rgb(135, 131, 135);
      width: 100%;
      border-radius: 1.5vw;
      overflow: hidden;
      .preview-card {
        background: #f9f9f9;
        padding: 2vw;
        border-radius: 1vw;
        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 2px solid blue;
      }
      .mainTable {
        // border: 2px solid red;
        width: 100%;
        border-collapse: collapse;
        margin: 0;
      }

      .table-header {
        // border: 2px solid rgb(23, 15, 15);
        font-size: 3.4vw;
        color: rgb(44, 42, 42);
        font-weight: 600;
        border-bottom: 1px solid rgb(156, 151, 151);
        border-left: 1px solid rgb(156, 151, 151);
      }

      .table-data {
        text-align: center;
        padding: 1vw;
        font-size: 3.7vw;
      }
      .table-action {
        text-align: center;
        padding: 1vw;
      }
      .edit-button,
      .delete-button,
      .preview-button,
      .launch-button {
        width: 6vw;
        height: 6vw;
        margin: 0.5vw;
        font-size: 4vw;
        border: none;
        border-radius: 4vw;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        outline: none;
      }
    }
    .pagination {
      .page-button {
        font-size: 3.5vw;
        font-weight: bold;
        width: 5vw;
        height: 5vw;
        cursor: pointer;
      }
    }
  }
}
