// laptop view
.PricePage {
  * {
    // border: 1px solid pink;
  }
  p {
    margin-bottom: 0;
  }

  margin-top: 6.2vw;
}

// tablet view
@media all and (max-width: 1024px) {
  .PricePage {
    margin-top: 12vw;
  }
}

// mobile view
@media all and (max-width: 480px) {
  .PricePage {
    margin-top: 20vw;
  }
}
