.commonForSinglePageApp {
  height: 100svh;
  // overflow: hidden;
}

// responsive design
// laptop view
.ResponsiveDesignPhotobooth {
  .title {
    font-size: 4svh;
  }

  .btnPhotobooth {
    background: linear-gradient(to right, #ff93df, #7a21bb);
    color: white;
    cursor: pointer;

    width: 20svh;
    border-radius: 1svh;
    padding: 1svh;
    font-size: 2.5svh;
  }
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
  }
  .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #000;
    animation: prixClipFix 2s linear infinite;
  }
  .expiredPopup{
    // border: 2px solid red;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// tablet view
@media all and (max-width: 991px) {
  .ResponsiveDesignPhotobooth {
    // border: 1px solid red;
    .title {
      font-size: 4svh;
    }
    .btnPhotobooth {
      background: linear-gradient(to right, #ff93df, #7a21bb);
      color: white;
      cursor: pointer;

      width: 20svh;
      border-radius: 1svh;
      padding: 1svh;
      font-size: 2.5svh;
    }
    .loader {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      position: relative;
      animation: rotate 1s linear infinite;
    }
    .loader::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 5px solid #000;
      animation: prixClipFix 2s linear infinite;
    }
  }
}

// mobile view
@media all and (max-width: 480px) {
  .ResponsiveDesignPhotobooth {
    // border: 1px solid red;

    .title {
      font-size: 3.5svh;
    }
    .btnPhotobooth {
      background: linear-gradient(to right, #ff93df, #7a21bb);
      color: white;
      cursor: pointer;

      width: 20svh;
      border-radius: 1svh;
      padding: 1svh;
      font-size: 2.5svh;
    }
    .loader {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      position: relative;
      animation: rotate 1s linear infinite;
    }
    .loader::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 5px solid #000;
      animation: prixClipFix 2s linear infinite;
    }
  }
}

// vertical design
.VerticalDesignPhotobooth {
  .title {
    font-size: 4.5svh;
  }
  .btnPhotobooth {
    background: linear-gradient(to right, #ff93df, #7a21bb);
    color: white;
    cursor: pointer;

    width: 20svh;
    border-radius: 1svh;
    padding: 1svh;
    font-size: 2.5svh;
  }
}
