.EditEventPage {
  margin-top: 6vw;
}
@media all and (max-width: 1024px) {
  .EditEventPage {
    margin-top: 10vw;
  }
}

@media all and (max-width: 480px) {
  .EditEventPage {
    margin-top: 16.5vw;
  }
}
