.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  // background-color: #f0f0f0;
}

.loaderEvent {
  display: flex;
  gap: 0.5vw;

  span {
    width: 2vw;
    height: 2vw;
    background: linear-gradient(45deg, #e7d12f, #041417);
    border-radius: 50%;
    animation: bounce 1.2s infinite ease-in-out;
  }

  span:nth-child(1) {
    animation-delay: -0.4s;
  }

  span:nth-child(2) {
    animation-delay: -0.2s;
  }

  span:nth-child(3) {
    animation-delay: 0s;
  }
}
.loading-text {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  font-family: Arial, sans-serif;
  animation: fadeIn 1.5s ease-in-out infinite alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
