.slider2 {
  /* border: 1px solid black; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  /* width: 100%; */
}

.profile {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* .profile .personDetails {
    border: 1px solid black; 
    align-self: flex-end;
  } */

.profile .profileImage {
  /* border: 1px solid black; */
  width: 9vw;
}

.profile img {
  width: 100%;
  height: 100%;
}

.slider2 .description {
  /* border: 1px solid black; */
  margin-right: auto;
  text-align: justify;
}

.slider2 .arrow {
  /* border: 1px solid black; */
  align-self: flex-end;
  color: #aaa;
  font-size: 2vw;
}

/* for tablet */
@media screen and (max-width: 768px) {
  .profile .profileImage {
    /* border: 1px solid red; */
    align-self: flex-start;
  }
  .slider2 .arrow {
    /* border: 1px solid black; */
    font-size: 3vw;
  }
}

/* for mobile */
@media screen and (max-width: 524px) {
  .profile .profileImage {
    /* border: 1px solid black; */
    align-self: flex-start;
    width: 15vw;
  }
  .slider2 .arrow {
    /* border: 1px solid black; */
    font-size: 4vw;
  }
}
