.PaymentAcknowledgement {
  min-height: calc(100svh - 5.2vw);
  margin-top: 5.2vw;
  padding: 5vw;
  background-color: #e7f1fb;

  align-items: flex-start;
  .mainContainerAcknow {
    width: 40vw;
    justify-content: flex-start;
    // border: 1px solid blue;
    padding: 2vw;
    box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.5);
    border-radius: 2vw;
    background-color: #fff;
    gap: 1vw;
    color: #000;
    .link-new {
      color: blue;
      font-weight: 500;
      text-decoration: underline !important;
      // border: 1px solid blue;
    }
    .boldTxt {
      font-weight: 600;
    }
    .txt3 {
      font-size: 1vw;
      text-align: center;
    }

    .topContainerAcknow {
      .acknowledgementIcon {
        width: 5vw;
      }
    }
    .bottomContainerAcknow {
      text-align: center;
      // border: 1px solid blue;
    }

    .goBackBtn {
      width: 8vw;
      font-size: 1.1vw;
      font-weight: 600;
      color: black;
      padding: 0.3vw 0.8vw;
      background: #f9c527;
      border-radius: 1.1vw;
      cursor: pointer;
      border: 1.5px solid black;
    }
  }
}

// tablet view
@media all and (max-width: 1024px) {
  .PaymentAcknowledgement {
    min-height: calc(100svh - 5.2vw);
    margin-top: 5.2vw;
    // padding: 5vw !important;
    padding-top: 5vw;
    .mainContainerAcknow {
      // border: 2px solid black;
      margin-top: 10vw;
      width: 90%;
      padding: 5vw !important;
      box-shadow: 0 0 0.375vw rgba(0, 0, 0, 0.5);
      border-radius: 2.5vw;
      gap: 2.5vw;
      .topContainerAcknow {
        // border: 2px solid blue;
        .acknowledgementIcon {
          width: 9vw;
        }
        h3 {
          font-size: 3.7vw;
        }
      }
      .txt3 {
        font-size: 3vw !important;
      }
      .link-new {
        color: blue;
        font-weight: 500;
        font-size: 3vw;
        text-decoration: underline !important;
        // border: 1px solid blue;
      }
      .goBackBtn {
        width: 20vw;
        font-size: 3.3vw;
        border-radius: 2vw;
      }
    }
  }
}

// mobile view
@media all and (max-width: 480px) {
  .PaymentAcknowledgement {
    min-height: calc(100svh - 13.5vw);
    margin-top: 13.5vw;
    padding: 5vw;
    // border: 1px solid blue;
    .mainContainerAcknow {
      width: 100%;
      // border: 1px solid blue;
      justify-content: center !important;
      padding: 5vw;
      margin-top: 10vw;
      box-shadow: 0 0 0.75vw rgba(0, 0, 0, 0.5);
      border-radius: 5vw;
      gap: 3.5vw;
      .link-new {
        // border: 1px solid blue;
        font-size: 4vw;
      }

      .txt3 {
        font-size: 4vw !important;
        text-align: center;
      }
      .topContainerAcknow {
        .acknowledgementIcon {
          width: 17.5vw;
        }
        h3 {
          font-size: 4.5vw;
        }
      }
      .goBackBtn {
        width: 28vw;
        font-size: 4.5vw;
        border-radius: 3vw;
      }
    }
  }
}
