.TestPage {
  padding: 2vw;
  border: 2px solid blue;
  .test-head {
    padding: 1.5vw;
    // border: 1px solid gray;
  }
  .first-container {
    border: 1px solid gray;
    // width: 80%;
    border-radius: 2vw;
    gap: 4vw;
    padding: 1vw;
  }
  .step-one {
    position: relative;
    padding: 1vw;
    // border: 2px solid green;
    .icon-part {
      top: -8%;
      width: 4vw;
      height: 4vw;
      border-radius: 50%;
      // padding: 1vw;
      background-color: white;
      right: 34%;
      // margin: 2px;
      position: absolute;
      border: 1px solid gray;
      .icon {
        font-size: 2.7vw;
      }
      .icons {
        font-size: 2vw;
      }
    }
    .text-part {
      border: 1px solid gray;
      width: 10vw;
      border-radius: 1vw;
      justify-content: flex-end;
      // align-items: flex-end;
      height: 8vw;
      .steps {
        font-weight: 600;
        // border: 1px solid black;
      }
      .selection {
        // border: 1px solid black;
      }
    }
  }
}
