.Welcome {
  // border: 2px solid rgb(221, 255, 0);
  padding-left: 4vw;
  margin-top: 4vw;
  width: 100%;
  height: auto;
  // gap: 2vw;
  align-items: flex-start;
  .context-part {
    // border: 0.1vw solid gray;
    width: 40%;
    // height: 80%;
    // height: auto;
    // gap: 1.5vw;
    border-radius: 1vw;
    box-shadow: 0.2vw 0.2vw 0.5vw rgba(0, 0, 0, 0.2);
    align-items: flex-start;
    padding: 2vw;

    .heading {
      // border: 2px solid red;
      // padding: 1vw;
      font-size: 2.8vw;
      color: #1e1e15;
      font-weight: 600;
      // background: linear-gradient(to right, #ebdd14, #100a14);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
    }
    .paraGraph {
      // border: 2px solid black;
      padding: 1vw;
      text-align: left;
      // width: 64vw;
      line-height: 2.2vw;
      font-size: 1.1vw;
    }
    .buttonEvent {
      padding: 0.5vw;
      gap: 1vw;
      .createBtn {
        background: #f6ce4c;
        // border: 2px solid blue;
        color: #100f01;
        border-radius: 1.7vw;
        font-weight: 600;
        font-size: 1.2vw;
        padding: 0.5vw 2vw;
      }
      .createBtn1 {
        color: #100f01;
        font-size: 1vw;
      }
    }
  }
  .img-part {
    // border-radius: 8px;
    border: 2px solid blue;
    width: 60%;
    // border-left: 2px solid #000;
    .ai-photobooth {
      border: 2px solid blue;
      border-radius: 8px;
      // width: 100vh;
      // height: 73vh;
      border-left: 2px solid #000;
    }
  }
}
@media all and (max-width: 480px) {
  .Welcome {
    // border: 2px solid blue;

    width: 100%;
    gap: 2vw;
    margin-top: 9vw;
    padding-bottom: 7vw;
    .context-part {
      width: 80%;
      padding: 3vw;
      box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.25);
      // border: 2px solid red;
      .heading {
        // border: 2px solid red;
        padding: 1vw;
        font-size: 5.2vw;
      }
      .paraGraph {
        // border: 2px solid black;
        padding: 1vw;
        width: 80vw;
        line-height: 5vw;
        font-size: 2.8vw;
      }
      .buttonEvent {
        padding: 0.5vw;
        gap: 3vw;
        .createBtn {
          background: #f6ce4c;
          // border: 2px solid blue;
          color: #100f01;
          border-radius: 1.7vw;
          font-weight: 600;
          font-size: 2.5vw;
          padding: 0.8vw 2.6vw;
        }
        .createBtn1 {
          color: #100f01;
          font-size: 2.2vw;
        }
      }
    }
  }
}
